.Caption {
  z-index: 2;
  width: 100%;
  @media (max-width: $md) {
    text-align: center;
  }
  &__Title {
    font-size: 80px;
    font-weight: 700;
    line-height: 70px;
    @media (max-width: $md) {
      font-size: 60px;
      text-align: center;
    }
  }
}

.VideoContainer {
  box-shadow: 50px 50px 50px 50px black inset;
  width: 700px;
  overflow: hidden;
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;

  &__Shadow {
    background: rgba($color: black, $alpha: 0.6);
    position: absolute;
    width: 100%;
    height: 100%;
    // box-shadow: inset 25px 0px 15px -25px black,
    //   inset -25px 0px 15px -25px black;
    top: 0;
    left: 0;

    @media (max-width: $md) {
      background: rgba($color: black, $alpha: 0.7);
    }
  }
}

.Video {
  height: 100%;
}
