.HomePage {
  .HeroSection {
    height: 100vh;
    position: relative;

    @media (max-width: $sm) {
      height: 80vh;
    }

    @import "../pages/HomeStyles/heroSection";
  }

  .PostsSection {
    @import "../pages/HomeStyles/postsSection";
  }
}
