@import "./01-variables";
@import "./02-rewrites";

body {
  scroll-behavior: smooth;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  font-family: "Nunito", sans-serif;
  font-weight: 400;
  font-size: 20px;
  background: black;
  color: white;

  @media (max-width: $sm) {
    font-size: 18px;
  }
}

.heading {
  font-family: "Montserrat", sans-serif;
}

.highlight {
  color: $themeColor;
}

.actionButton {
  @media (max-width: $md) {
    width: 100%;
  }
}

@import "../components/reusable";
@import "./pages/HomeStyles/homeStyles";
